.button {
    color: #fff;
    border-radius: 25px;
    font-family: $text;
    background-color: $maincol;
    display: flex;
    align-items: center;

    &:hover {
        background-color: #fff;
        color: #848e97;
    }

    &_header {
        font-weight: bold;
        font-size: 15px;
        padding: 0 25px;
        height: 37px;

    }

    &_forkapp {
        max-width: 390px;
        max-height: 62px;
        position: absolute;
        left: 50%;
        bottom: 0;
        padding: 14px;
        margin-left: -115px;
        margin-bottom: -22px;
        font-weight: bold;


    }
}
