@import 'variablesmy';
@import 'variables';
@import 'reset';
@import 'base';
// @import 'button';

.button {
    color: #fff;
    border-radius: 25px;
    font-family: $text;
    background-color: $maincol;
    display: flex;
    align-items: center;

    &:hover {
        background-color: #fff;
        color: #848e97;
    }

    &_header {
        font-weight: bold;
        font-size: 15px;
        padding: 0 25px;
        height: 37px;

    }

    &_forkapp {
        max-width: 390px;
        max-height: 62px;
        position: absolute;
        left: 50%;
        bottom: 0;
        padding: 14px;
        margin-left: -115px;
        margin-bottom: -22px;
        font-weight: bold;


    }
}

// HEADER
.header {
    background-color: #27262a;
    position: relative;



}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 103px;
    min-height: 103px;

    &-logo {
        display: flex;
        align-items: center;

        &:hover &_img {
            background-position: 0 -5px;
        }

        &:hover &_title {
            color: #fff;
        }


        &_img {
            background-image: url(../img/header-logo-sprite.png);
            background-repeat: no-repeat;
            width: 53px;
            height: 41px;
            background-position: 0 -56px;


        }

        &_title {
            display: none;
            font-size: 24px;
            color: $maincol;
            text-transform: uppercase;

        }
    }

    &_items {
        display: none;
        position: absolute;
        font-size: 24px;
        background-color: #333333;
        width: 100%;
        top: 102px;
        left: 0;
        z-index: 999;

        li {
            border-bottom: 1px solid #3b3b3b;

            a {
                color: #fff;
                padding-left: 30px;
            }

            .active {
                color: $maincol;
                border-left: 3px solid $maincol;
            }
        }
    }

    // DROP-DOWN MENU
    .menu-link {
        width: 25px;
        height: 25px;
        position: relative;

        span,
        span:before,
        span:after {
            display: block;
            width: 22px;
            height: 2px;
            background-color: #fff;
            position: absolute;
            left: 50%;
            margin-left: -11px;
            top: 50%;
            margin-top: -1px;
        }

        span:before {
            content: '';
            margin-top: -6px;
            background-color: #fff;
            transition: all 0.2s;


        }

        span:after {
            content: '';
            margin-top: 4px;
            background-color: #fff;
            transition: all 0.2s;


        }

        &_active span {
            background-color: transparent;

            &:before {
                transform: rotate(45deg);
                margin-top: 0;
            }

            &:after {
                transform: rotate(-45deg);
                margin-top: 0;
            }

        }
    }
}

@media screen and (min-width:#{($mq-401)}) {
    .header-nav-logo_title {
        display: inline;
        font-size: 24px;
        color: #8D81AC;
        font-weight: bold;



    }
}



@media screen and (min-width:#{($mq-481)}) {
    .header-nav {
        justify-content: space-between;
        padding: 7px 0;
        flex-wrap: wrap;
        align-items: center;
        line-height: 0;

        &-logo_img {
            margin: 0 17px 0 20px;
        }

        .button_header {
            margin-right: 20px;
        }

        &_items {
            position: static;
            display: flex;
            font-size: 16px;
            background-color: initial;
            width: 100%;
            line-height: initial;
            order: 1;
            justify-content: center;





            li {
                border-bottom: none;
                padding: 0 10px;


                &:nth-child(1) {
                    display: none;
                }

                a {
                    color: #8D81AC;
                    padding: 0;
                    font-weight: bold;

                    &:hover {
                        color: #fff;
                    }
                }

                .active {
                    display: inherit;
                    border: none;
                }
            }
        }

        &_logo {
            width: 50%;
            line-height: 0;
        }

    }

    .menu-link {
        display: none;
    }
}

@media screen and (min-width:#{($mq-993)}) {
    .header-nav {
        &_items {
            order: 0;
            width: 55%;
        }

        &_logo {
            width: 25%;
            line-height: 0;
        }

    }

}

// FORKAPP
.forkapp {
    background-image: url(../img/forkapp-bgr.png);
    background-repeat: no-repeat;
    // background-size: cover;
    background-position: 50% 40%;
    box-sizing: border-box;
    text-align: center;
    padding: 40px 0 400px 0;
    position: relative;

    &_title {
        color: #fff;
        font-size: 35px;
        font-weight: bold;

    }

    &_subtitle {
        display: block;
        font-size: 13px;
        color: $maincol;
        padding: 20px 45px;
        line-height: 25px;

    }

    &_version {
        color: #848e97;
        font-size: 10px;
    }
}

@media screen and (min-width:#{($mq-401)}) {
    .forkapp {
        &_title {
            font-size: 40px;
        }

        &_subtitle {
            font-size: 15px;
        }

        &_version {
            font-size: 12px;
        }


        .button_forkapp {
            // box-sizing: border-box;
            padding: 23px 63px;
            box-sizing: border-box;
            margin-left: -159px;
            margin-bottom: -31px;
        }
    }
}

@media screen and (min-width:#{($mq-481)}) {
    .forkapp {
        &_title {
            font-size: 52px;
        }

        &_subtitle {
            font-size: 18px;
        }

    }

}

@media screen and (min-width:#{($mq-993)}) {
    &_title {
        font-size: 60px;
    }

    &_subtitle {
        font-size: 22px;
    }
}

// MAIN INFO
.main-info {
    background-color: #ffffff;
    display: flex;
    text-align: center;
    justify-content: center;


    &_conditions {
        font-size: 14px;
        color: $subcol;
        margin-top: 35px;

    }

    &_title {
        font-size: 19px;
        color: rgba(99, 92, 115, 255);
        font-weight: bold;
        margin-top: 72px;
        text-transform: uppercase;
        word-wrap: break-word;
        padding: 0 40px 24px;
        line-height: 1.8;
        letter-spacing: 2px;
    }

    &_about {
        font-size: 12px;
        color: #323232;
        font-family: "Lato", sans-serif;
        line-height: 1.5;
        padding: 0 25px;
        word-spacing: 1px;
    }

}

.main-info_icones {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    justify-content: center;
    align-items: center;

    .wrap-iconeset {
        display: flex;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    &_item {
        display: inline-flex;
        background-color: #d8d2d2;
        border: 1px solid #bbb2b2;
        padding: 5px;
        font-weight: bold;
        font-size: 12px;

        &__exacly {
            margin-left: 5px;
        }
    }

    &__quantity {
        border: 1px solid #bbb2b2;
        border-left: none;
        box-sizing: border-box;
        background-color: #fff;
        padding: 5px;
        font-size: 12px;
        font-weight: bold;

    }

}

@media screen and (min-width:#{($mq-401)}) {
    .main-info {
        &_title {
            font-size: 31px;
        }

        &_about {
            font-size: 12px;
        }
    }
}

@media screen and (min-width:#{($mq-481)}) {
    .main-info_about {
        font-size: 16px;
    }

}

@media screen and (min-width:#{($mq-993)}) {
    .main-info_title {
        font-size: 40px;
    }
}


// <!-- FEATURES -->
.features {
    display: block;
    text-align: center;
    background-color: #f4f4f4;
    // background-color: red;

    // background-color: red;
    &_title {
        font-size: 24px;
        font-weight: bold;
        color: $maincol;
        padding: 35px 50px;
        line-height: 1.5;
    }

    &-left {
        &-block {
            margin-bottom: 38px;

            // display: block;
            &_img {
                margin: 0 auto;
                margin-bottom: 20px;
            }

            &_title {
                font-size: 12px;
                color: #323232;
                margin-bottom: 20px;

            }

            &_text {
                font-size: 10px;
                color: $subcol;
                line-height: 1.8;
                padding: 0 30px;
            }
        }
    }

    &-right {

        overflow: hidden;
    }
}

@media screen and (min-width:#{($mq-401)}) {
    .features {
        display: flex;
        flex-wrap: wrap;



        &_title {
            padding: 35px 100px;
        }

        &-left {
            &-block {
                display: flex;

                &_img {
                    width: 30%;
                    margin: 0;
                }

                &_about {
                    width: 60%;
                    display: block;
                    text-align: left;
                    margin-left: 25px;

                }

                &_title {
                    margin-bottom: 10px;
                }

                &_text {
                    padding: 0;
                }
            }
        }
    }
}

@media screen and (min-width:#{($mq-993)}) {
    .features {
        display: flex;
        flex-direction: row;
        padding-top: 100px;
        position: relative;


        &_title {
            position: absolute;
            right: 170px;
            top: 25px;
        }

        &-left {
            width: 50%;
        }

        &-right {
            position: absolute;
            bottom: -22px;
            right: 0;
            width: 50%;
        }
    }
}