@import 'variablesmy';
@import 'variables';
@import 'reset';
@import 'base';
// @import 'button';

.button {
    color: #fff;
    border-radius: 25px;
    font-family: $text;
    background-color: $maincol;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: #fff;
        color: #848e97;
    }

    &_header {
        font-weight: bold;
        font-size: 15px;
        padding: 0 25px;
        height: 37px;

    }

    &_forkapp {
        max-width: 390px;
        max-height: 62px;
        position: absolute;
        left: 50%;
        bottom: 0;
        padding: 14px;
        margin-left: -115px;
        margin-bottom: -22px;
        font-weight: bold;


    }
}

// HEADER
.header {
    background-color: #27262a;
    position: relative;



}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 103px;
    min-height: 103px;

    &-logo {
        display: flex;
        align-items: center;

        &:hover &_img {
            background-position: 0 -5px;
        }

        &:hover &_title {
            color: #fff;
        }


        &_img {
            background-image: url(../img/header-logo-sprite.png);
            background-repeat: no-repeat;
            width: 53px;
            height: 41px;
            background-position: 0 -56px;


        }

        &_title {
            display: none;
            font-size: 24px;
            color: $maincol;
            text-transform: uppercase;

        }
    }

    &_items {
        display: none;
        position: absolute;
        font-size: 24px;
        background-color: #333333;
        width: 100%;
        top: 102px;
        left: 0;
        z-index: 999;

        li {
            border-bottom: 1px solid #3b3b3b;

            a {
                color: #fff;
                padding-left: 30px;
            }

            .active {
                color: $maincol;
                border-left: 3px solid $maincol;
            }
        }
    }

    // DROP-DOWN MENU
    .menu-link {
        width: 25px;
        height: 25px;
        position: relative;

        span,
        span:before,
        span:after {
            display: block;
            width: 22px;
            height: 2px;
            background-color: #fff;
            position: absolute;
            left: 50%;
            margin-left: -11px;
            top: 50%;
            margin-top: -1px;
        }

        span:before {
            content: '';
            margin-top: -6px;
            background-color: #fff;
            transition: all 0.2s;


        }

        span:after {
            content: '';
            margin-top: 4px;
            background-color: #fff;
            transition: all 0.2s;


        }

        &_active span {
            background-color: transparent;

            &:before {
                transform: rotate(45deg);
                margin-top: 0;
            }

            &:after {
                transform: rotate(-45deg);
                margin-top: 0;
            }

        }
    }
}

@media screen and (min-width:#{($mq-401)}) {
    .header-nav-logo_title {
        display: inline;
        font-size: 24px;
        color: #8D81AC;
        font-weight: bold;



    }
}



@media screen and (min-width:#{($mq-481)}) {
    .header-nav {
        justify-content: space-between;
        padding: 7px 0;
        flex-wrap: wrap;
        align-items: center;
        line-height: 0;

        &-logo_img {
            margin: 0 17px 0 20px;
        }

        .button_header {
            margin-right: 20px;
        }

        &_items {
            position: static;
            display: flex;
            font-size: 16px;
            background-color: initial;
            width: 100%;
            line-height: initial;
            order: 1;
            justify-content: center;





            li {
                border-bottom: none;
                padding: 0 10px;


                &:nth-child(1) {
                    display: none;
                }

                a {
                    color: #8D81AC;
                    padding: 0;
                    font-weight: bold;

                    &:hover {
                        color: #fff;
                    }
                }

                .active {
                    display: inherit;
                    border: none;
                }
            }
        }

        &_logo {
            width: 50%;
            line-height: 0;
        }

    }

    .menu-link {
        display: none;
    }
}

@media screen and (min-width:#{($mq-993)}) {
    .header-nav {
        &_items {
            order: 0;
            width: 55%;
        }

        &_logo {
            width: 25%;
            line-height: 0;
        }

    }

}

// FORKAPP
.forkapp {
    background-image: url(../img/forkapp-bgr.png);
    background-repeat: no-repeat;
    background-position: 50% 40%;
    box-sizing: border-box;
    text-align: center;
    padding: 40px 0 400px 0;
    position: relative;

    &_title {
        color: #fff;
        font-size: 35px;
        font-weight: bold;

    }

    &_subtitle {
        display: block;
        font-size: 13px;
        color: $maincol;
        padding: 20px 45px;
        line-height: 25px;

    }

    &_version {
        color: #848e97;
        font-size: 10px;
    }
}

@media screen and (min-width:#{($mq-401)}) {
    .forkapp {
        &_title {
            font-size: 40px;
        }

        &_subtitle {
            font-size: 15px;
        }

        &_version {
            font-size: 12px;
        }


        .button_forkapp {
            // box-sizing: border-box;
            padding: 23px 63px;
            box-sizing: border-box;
            margin-left: -159px;
            margin-bottom: -31px;
        }
    }
}

@media screen and (min-width:#{($mq-481)}) {
    .forkapp {
        &_title {
            font-size: 52px;
        }

        &_subtitle {
            font-size: 18px;
        }

    }

}

@media screen and (min-width:#{($mq-993)}) {
    .forkapp {
        background-size: cover;

        &_title {
            font-size: 60px;
        }

        &_subtitle {
            font-size: 22px;
        }
    }
}

// MAIN INFO
.main-info {
    background-color: #ffffff;
    display: flex;
    text-align: center;
    justify-content: center;
    transition: 0.3s;


    &_conditions {
        font-size: 14px;
        color: $subcol;
        margin-top: 35px;

    }

    &_title {
        font-size: 19px;
        color: rgba(99, 92, 115, 255);
        font-weight: bold;
        margin-top: 72px;
        text-transform: uppercase;
        word-wrap: break-word;
        padding: 0 40px 24px;
        line-height: 1.8;
        letter-spacing: 2px;
    }

    &_about {
        font-size: 12px;
        color: #323232;
        font-family: "Lato", sans-serif;
        line-height: 1.5;
        padding: 0 25px;
        word-spacing: 1px;
    }

}

.main-info_icones {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    justify-content: center;
    align-items: center;

    .wrap-iconeset {
        display: flex;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    &_item {
        display: inline-flex;
        background-color: #d8d2d2;
        border: 1px solid #bbb2b2;
        padding: 5px;
        font-weight: bold;
        font-size: 12px;

        &__exacly {
            margin-left: 5px;
        }
    }

    &__quantity {
        border: 1px solid #bbb2b2;
        border-left: none;
        box-sizing: border-box;
        background-color: #fff;
        padding: 5px;
        font-size: 12px;
        font-weight: bold;

    }

}

@media screen and (min-width:#{($mq-401)}) {
    .main-info {
        &_title {
            font-size: 31px;
        }

        &_about {
            font-size: 12px;
        }
    }
}

@media screen and (min-width:#{($mq-481)}) {
    .main-info_about {
        font-size: 16px;
    }

}

@media screen and (min-width:#{($mq-993)}) {
    .main-info_title {
        font-size: 40px;
    }
}


// <!-- FEATURES -->
.features {
    display: block;
    text-align: center;
    background-color: #f4f4f4;
    // background-color: red;

    // background-color: red;
    &_title {
        font-size: 24px;
        font-weight: bold;
        color: $maincol;
        padding: 35px 50px;
        line-height: 1.5;
    }

    &-left {
        &-block {
            margin-bottom: 38px;

            // display: block;
            &_img {
                margin: 0 auto;
                margin-bottom: 20px;
            }

            &_title {
                font-size: 12px;
                color: #323232;
                margin-bottom: 20px;

            }

            &_text {
                font-size: 10px;
                color: $subcol;
                line-height: 1.8;
                padding: 0 30px;
            }
        }
    }

    &-right {
        margin-left: 20px;
        overflow: hidden;
    }
}

@media screen and (min-width:#{($mq-401)}) {
    .features {
        display: flex;
        flex-wrap: wrap;



        &_title {
            padding: 35px 100px;
        }

        &-left {
            &-block {
                display: flex;

                &_img {
                    width: 30%;
                    margin: 0;
                }

                &_about {
                    width: 60%;
                    display: block;
                    text-align: left;
                    margin-left: 25px;

                }

                &_title {
                    margin-bottom: 10px;
                }

                &_text {
                    padding: 0;
                }
            }
        }
    }
}

@media screen and (min-width:#{($mq-993)}) {
    .features {
        display: flex;
        flex-direction: row;
        padding-top: 100px;
        position: relative;


        &_title {
            position: relative;
            top: 41px;
            left: 166px;
            display: inline-block;
        }

        &-left {
            width: 50%;
        }

        &-right {
            position: absolute;
            bottom: -22px;
            right: 0;
            width: 50%;
        }
    }
}

// <!-- SOCIAL -->
.social {
    margin-top: 60px;

    &-wrap {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;

    }


    &-foto {
        overflow: hidden;
        width: 88px;
        height: 88px;
        border-radius: 50%;
        background-size: contain;
        margin: 0 auto;
    }

    &-title {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;

        &_profession {
            color: $maincol;
        }

        &_name {
            font-size: 24px;
            color: #474747;
            font-weight: bold;
            margin: 25px 0 10px;

        }
    }

    &-about {
        color: #474747;
        // display: block;
        margin: 0 30px;
        font-size: 17px;
        font-family: $lato;
        line-height: 1.2;
        text-align: center;

        a {
            color: $maincol;
        }

        &_old {
            margin-top: 20px;
            color: #848e97;
            font-family: $text;
        }
    }

}

// COROUSEL
.slick-prev,
.slick-next {
    z-index: 1001;
    top: 60%;
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

.slick-next:before,
.slick-prev:before {
    background-repeat: no-repeat;
    color: transparent;


}

.slick-prev:before {
    background-image: url(../img/prev.png);
}

.slick-next:before {
    background-image: url(../img/next.png);

}

@media screen and (min-width:#{($mq-401)}) {
    .social {
        &-about_text {
            font-size: 16px;
        }

        &-wrap {
            flex-wrap: wrap;
            flex-direction: inherit;
            justify-content: center;
            text-align: left;
        }

        &-title {
            margin-left: 20px;

        }

        &-foto {
            margin: 0 0 40px;
        }
    }

    // most likely not right!!!
    .slick-initialized,
    .slick-slide {
        display: flex !important;
    }

    .slick-prev,
    .slick-next {
        top: 70%;
    }

    .slick-prev {
        left: 25x;
    }

    .slick-next {
        right: 25px;
    }
}

@media screen and (min-width:#{($mq-481)}) {
    .social-about {
        padding: 0 57px;

        &_text {
            font-size: 20px;

        }
    }

    .slick-prev,
    .slick-next {
        top: 60%;
    }

    .slick-prev {
        left: 35px;
    }

    .slick-next {
        right: 35px;
    }
}

.social-links {
    margin: 35px 0 70px;
    justify-content: center;
    display: flex;
    flex-direction: column;

    &-item {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;

        &_followers {
            color: #848e97;
            font-size: 14px;
        }

        &-btn {
            width: 280px;
            height: 50px;
            background: #f3f3f3;
            margin-bottom: 18px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;

            &_filling {
                display: inline-flex;
                color: #000;
                font-size: 21px;


                &_icone {
                    position: absolute;
                    left: 25px;
                    top: 50%;
                    margin-top: -10px;
                }
            }
        }
    }

    .twitter {
        background-color: #26a6d1;
        color: #fff;
    }

    .facebook {
        background-color: #3b5998;
        color: #fff;

    }
}

@media screen and (min-width:#{($mq-481)}) {
    .social-links {
        flex-wrap: wrap;
        flex-direction: initial;

        &-item {
            width: 40%;

            &-btn {
                width: 240px;
            }
        }
    }
}

@media screen and (min-width:#{($mq-993)}) {
    .social-links {
        flex-wrap: nowrap;

        &-item {
            width: 27%;
        }
    }
}


// TESTIMONIALS
.testimonials {
    background-image: url(../img/testimonials-bgr.png);
    background-repeat: no-repeat;
    background-position: 51% -1%;
    background-color: #4b3b4e;
    text-align: center;
    padding-bottom: 25px;
    color: #fff;

    &-title {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
        padding: 61px 24px 50px 30px;
    }

    &-item {
        margin-bottom: 80px;

        &_img {
            margin-bottom: 15px;
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &_text {
            font-family: $source;
            font-style: italic;
            padding: 0 40px;
            line-height: 1.2;


        }
    }

    &-hr {
        color: #645766;
        background-color: #645766;
        margin: 80px 15px 40px;
        height: 2px;
        border: none;
    }

    &-bottom {
        display: none;
        font-size: 14px;
        color: rgba(162, 145, 165, 255);
        padding: 17px 17px;
        font-family: $lato;
        opacity: 0.5;
        padding: 0 40px 10px;
    }
}

@media screen and (min-width:#{($mq-401)}) {
    .testimonials {
        &-title {
            font-size: 31px;
            padding: 77px 36px 80px 35px;

        }

        &-item_text {
            padding: 0 75px;
        }
    }
}

@media screen and (min-width:#{($mq-481)}) {
    .testimonials {
        &-item-wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

        }

        &-title {
            padding: 80px 50px 95px;
        }

        &-item {
            width: 50%;

            &_text {
                padding: 0 14px;
            }
        }

        &-hr {
            color: #635766;
            background-color: #635766;
            margin: 0 25px 0;
            width: 1005px;
        }

        &-bottom {
            display: block;
        }
    }
}

@media screen and (min-width:#{($mq-993)}) {
    .testimonials {
        &-title {
            font-size: 35px;
        }

        &-item {
            width: 30%;
        }

        &-bottom {
            width: 60%;
            margin-top: 50px;
        }

        &-hr {
            width: 55%;
        }
    }
}


// PRICING
.pricing {
    background-image: url(../img/prices.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #4b3b4e;
    color: #fff;
    text-align: center;

    &-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-rate {
        background-color: rgba(255, 255, 255, 0.05);
        width: 257px;
        height: 457px;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        &_title {
            font-size: 17px;
            text-transform: uppercase;
            padding: 46px 65px 34px 65px;
            box-sizing: border-box;
            background-color: rgba(255, 255, 255, 0.1);

        }

        &_cost {
            font-size: 57px;
            margin: 32px auto 24px;
        }

        &_cost span {
            font-weight: bold;

        }


        &_time {
            font-size: 11px;
            opacity: 0.3;
            text-transform: uppercase;

        }

        &_hr {
            color: $maincol;
            background-color: $maincol;
            margin: 40px auto 30px;
            height: 5px;
            width: 60px;
            border: none;
        }

        &_quality {
            font-size: 13px;
            // padding: 0 60px;
            line-height: 1.5;
        }

        &_btn {
            background-color: rgba(255, 255, 255, 0.1);
            margin: auto;
            text-transform: uppercase;
            color: #fff;
            border-radius: 25px;
            font-family: $text;
            display: flex;
            align-items: center;
            font-size: 11px;
            padding: 15px 38px;

        }
    }

    .best {
        width: 288px;
        height: 560px;
        background-color: rgba(0, 0, 0, 0.05);

        &_title {
            background-color: rgba(0, 0, 0, 0.1);

        }

        &_cost {
            font-size: 78px;
        }

        &_doll {
            font-weight: normal;
        }

        &_btn {
            padding: 20px 50px;
            font-size: 12px;
            margin-bottom: 35px;    
        }

    }
}

@media screen and (min-width:#{($mq-401)}) {
    .pricing {
        .best {
            width: 299px;
        }
    }
}

@media screen and (min-width:#{($mq-481)}) {
    .pricing {
        &-wrap {
            flex-wrap: wrap;
            flex-direction: initial;
            justify-content: center;

        }

        &-rate {
            margin-left: 40px;
            // width: 40%;
        }

        .best {
            margin-right: -20px;
            margin-left: 20px;
        }
    }
}

@media screen and (min-width:#{($mq-993)}) {
    .pricing {
        &-rate {
            margin-left: 15px;


            &-wrap {
                flex-wrap: nowrap;
                justify-content: baseline;
            }
        }

        .best {
            width: 299px;
            margin-right: 0;
        }




    }
}