@import 'reset';
@import 'variables';
@import 'base';
@import 'button';




.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #27262a;
    position: relative;
    line-height: 103px;

    &_title{
        display: none;
        font-size: 24px;
        color: $maincol;
        text-transform: uppercase;

    }

    &_items {
        display: none;
        position: absolute;
        font-size: 24px;
        background-color: #333333;
        width: 100%;
        top: 102px;
        left: 0;

        li {
            border-bottom: 1px solid #3b3b3b;

            a {
                color: #fff;
                padding-left: 30px;
            }

            .active {
                color: $maincol;
                border-left: 3px solid $maincol;
            }
        }
    }

    // DROP-DOWN MENU
    .menu-link {
        width: 25px;
        height: 25px;
        position: relative;

        span, span:before, span:after {
            display: block;
            width: 22px;
            height: 2px;
            background-color: #fff;
            position: absolute;
            left: 50%;
            margin-left: -11px;
            top: 50%;
            margin-top: -1px;
        }
        span:before{
            content: '';
            margin-top: -6px;
            background-color: #fff;
            transition: all 0.2s;

            
        }
        span:after{
            content: '';
            margin-top: 4px;
            background-color: #fff;
            transition: all 0.2s;

            
        }
        &_active span{
            background-color: transparent;
            &:before{
                transform: rotate(45deg);
                margin-top: 0;
            }
            &:after{
                transform: rotate(-45deg);
                margin-top: 0;
            }

        }
    }
}

@media screen and (min-width:#{($mq-401)}){
    .header-nav{
        background-color: #f38f0b;

        &_title{
            display: inline-block;
            font-size: 24px;
            color: #8D81AC;

            vertical-align:middle;
            
    
        }
    }

}
@media screen and (min-width:#{($mq-481)}){
    .header-nav{
        background-color: #24f05e;
        justify-content: space-between;
        padding: 0 20px;
            &_items{
                position: relative;
                top: 29px;
                left: 0;
                display: inline-flex;
                font-size: 16px;
                color: #8D81AC;
                background-color: initial;
                text-align: center;
                width: 60%;
                            
            }
            li {
                border-bottom: none;
    
                a {
                    color: #fff;
                }
    
                .active {
display: none;                }
            }
    }
    .menu-link{
        display: none;
    }
}


